@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.main {
    height: 100vh;
}
body input {
    box-shadow: 5px 5px 20px 0px rgba(51, 51, 51, 0.191);
}
/* p:empty:before {
    content: 'Not Finished';
} */

.allTasks {
    background-color:white;
    /* border: 1px solid grey; */
}
.head {
    text-decoration: underline;
}
.email {
    font-size: .8rem;
}

.BtnCreate {
    background-color: rgba(51, 51, 51, 0.331);
}

.BtnCreate:hover {
    background-color: #333;
    outline: 2px solid grey;
}
.btnSm {
    width: 100px;
}
.btnSm:hover {
    opacity: 80%;
}

.taskCard {
    box-shadow: 5px 5px 20px 5px rgba(51, 51, 51, 0.156);
}

.comment {
    font-size: .7rem;
}

.notDone {
    border: 2px solid rgba(255, 0, 0, 0.794);
    background-color: rgba(255, 0, 0, 0.137);
}
.Done {
    border: 2px solid green;
    background-color: rgba(0, 128, 0, 0.285);
}
.span {
    color: grey;
    font-size: .8rem;
}